*{  
    color:rgb(5, 41, 66);
    font-family:Arial, Helvetica, sans-serif;
    font-size:16px;
    line-height: 1.5;
    list-style-type: none;
    margin:0;
    padding:0;
}




h1{font-size: calc(1rem *3);}
h2{font-size: calc(1rem *1.5);
padding-bottom:.5rem;}
h3{font-size:calc(1rem *2)}
h4{font-size:calc(1rem *1.75)}
h5{font-size:calc(1rem *1.25)}
h6{font-size:.calc(1rem *.85)}
p{
    font-size:1rem;
    line-height:1.75;
    margin-block-start: 1em;
    margin-block-bottom: 1em;
}

p a{
    color: #00578a !important;
}
/* Text Styles */
.main{
    margin:0 auto;
    padding: 10px 0 5rem 0;
    width:1260px;
}

section{
    background-color: #fff;
    padding: 10px;
    width:90%;
    margin:0 auto;
}

hr.section-divider{
    border-top: 2px solid rgb(5,41,66);
}

hr.section-divider + p{
    padding-top:.5rem;
}

/* Media Queries */
/* Portrait */
@media only screen and (max-width:400px) {
h1{font-size: calc(2rem*.75)}
h2{font-size: calc(1.75rem*.75)}
h3{font-size:calc(1.5rem*.75)}
h4{font-size:calc(1.2rem*.75)}
h5{font-size:calc(1rem*.75);}
h6{font-size:.5rem;}
p{font-size:.95rem;}
}


/* Landmarks */

/* Secondary Content */
section.secondary-content{
    padding-left:5rem !important;
}
.sc-bullet{
    list-style-type:none;
    margin-block-start:1.5rem;
    margin-bottom:1.5rem;
}

.sc-bullet>p>img{
    padding-top:5px;
    border-style:none;
    display: inline-block;
    max-height: 40px;
    max-width:100%;
    margin-right:10px;
    vertical-align: middle;
}


/* End of Secondary Content */

/* Footer */

.footer {
    background-color:rgb(5,41,66);
    bottom: 0;
    color: white;
    left: 0;
    padding-top:.75rem;
    padding-bottom:.5rem;
    position: fixed;
    text-align: center;
    width: 100%;
 }
 nav.footer-nav.nav ul li.nav-item a{
    color:rgb(230, 230, 230);
    font-size:1rem;
    font-weight: 200;
    text-decoration:none;
}


/* Images */
img.icons{
    border-style:none;
    display: inline-block;
    max-height: 60px;
    max-width:100%;
    margin-right:.25rem;
    vertical-align: middle;
}

img.icons.monsido-icon{
    max-height:50px;
}

